<div class="row">
	<div class="col-xs-12 col-lg-12">
		<div class="col-xs-10 col-lg-4">
			<input type="text" ng-model="User.Username" placeholder="User name" class="form-control"/>
		</div>
	</div>
	<div class="col-xs-12 col-lg-12">
		<div class="col-xs-10 col-lg-4">
			<input type="password" ng-model="User.Password" placeholder="password" class="form-control"/>
		</div>
	</div>

    <!--Displays only when user clicks on register-->
    <div class="col-xs-12 col-lg-12">
	    <div class="col-xs-8 col-lg-4">
	    	<input ng-if="IsLogin == false" type="password" ng-model="User.CPassword" placeholder="Confirm password" class="form-control"/>	
	    </div>
    </div>

	<div class="col-xs-12">
		<div class="col-xs-2">
			<input ng-if="IsLogin == false" type="button" value=" Submit " ng-click="addUser()" class="btn btn-success"/>	
		</div>
	</div>
	<div class="col-xs-12 col-lg-4">
		<div class="col-xs-3 col-lg-4">
			<p><input ng-if="IsLogin == true" type="button" value="Login" ng-click="authenticateUser()" class="btn btn-success"/></p>	
		</div>
	    <div class="col-xs-7 col-lg-8">
	    	<p><span ng-if="IsLogin == true" class="text-center col-xs-7">New user? </span><a  ng-if="IsLogin == true" href="" ng-click="showRegisterForm()" class="btn btn-info pull-right" >Register</a></p>
	    </div>  
    </div>  
</div>