<div>
    <div>
        <input type="text" ng-model="comment"/>
        <input type="button" name="add" value="add" ng-click="addAnswer(comment)"/>
        <a href="#/">Home</a>
        
    </div>
    <div>
        <div>
            <a ng-if="IsLiked == false" href="" ng-click="likeThisQuestion(true)">Like</a>
            <a ng-if="IsLiked == true" href="" ng-click="likeThisQuestion(false)">Un Like</a>
        </div>
        <div>
            {{questionContent}}
        </div>
        <div>
            <div ng-repeat="ans in answers">{{ans.Content}}</div>
        </div>
    </div>
</div>