/*.all-discussions{
	background-color: #E6E6E6;
}*/
.all-discussions ul{
	margin-top: 10px;
}
.all-discussions ul li{
	display: inline;
	padding: 50px;
}
.all-discussions ul li a{
	text-decoration: none;
	color:#fff;
}
.all-discussions .module-discussion .question-summary .question-item .cp{
	float:left;
	vertical-align:	top;
	margin-right:10px;
}
.all-discussions .module-discussion .question-summary .question-item .cp .votes{
	display: inline-block;
	height: 38px;
	min-width: 38px;
	margin: 0 3px 0 0;
	font-size: 11px;
	color: #777;
	padding: 5px 5px 6px 5px;
}
.all-discussions .module-discussion .question-summary .question-item .cp .status-unanswered{
	display: inline-block;
	margin: 0 3px 0 0;
	min-width: 44px;
	height: auto;
	font-size: 11px;
	padding: 6px;
}
.all-discussions .module-discussion .question-summary .question-item .cp .views{
	display: inline-block;
	height: 38px;
	min-width: 40px;
	font-size: 11px;
	color: #777;
	padding: 5px 5px 6px 5px;
}
.all-discussions .module-discussion .question-summary .question-item .summary{
	display: inline-block;
	min-width: 150px;
	font-size: 11px;
	color: #777;
	padding: 5px 5px 6px 5px;
}